.page_2{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.game_screen{
    display: grid;
    background-color: white;
}

.square{
    border: 0.5px solid grey;
    height: 80px;
    width:  80px;
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.image{
    width: 40px;
    height: auto;
}